{
  "presets": [
    [
      "@babel/env"
      // ,{
      //   "targets": {
      //     "node": "10.8.0"
      //   }
      // }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}